.butikkoversikt-container {
  background-color: var(--Body-background);
  padding: 24px;
  width: 1006px;
  margin: 0 auto;
}

.butikkoversikt-intro h1 {
  color: var(--Stores-main);
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  max-width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.butikkoversikt-intro p {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 100px auto;
  color: var(--Text-color-light);
  font-size: 16px;
  line-height: 1.6;
}

.total-butikker {
  font-weight: 500;
}

.butikk-liste {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5em 2rem;
  margin-top: 1rem;
}

.pagination {
  display: flex;
  align-items: center;
  color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}

.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 2px solid var(--White);
  border-radius: 8%;
  cursor: pointer;
  padding: 0.5rem;
}

.pagination img {
  width: 24px;
  height: 24px;
}

.pagination button:disabled img,
.pagination button:disabled {
  opacity: 0.4;
}
