.dashboard {
  padding: 40px;
}

.dashboard-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11px;
}

.dashboard-title {
  text-align: center;
}

@media (max-width: 600px) {
  .dashboard {
    padding: 20px 10px;
  }

  .dashboard-cards {
    gap: 6px;
  }
}
