.dashboard-card {
  position: relative;
    background-color: var(--Card-color);
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .dashboard-card:hover {
    box-shadow: 2px 2px 18px -1px rgba(93,159,149,0.41);
    background-color: #f6fefc;
  }

  .dashboard-card:hover .dashboard-cards-icon {
    color: var(--Text-highlight-color);
  }

  .dashboard-card h2{
    color: black;
    font-size: 1.4rem;
  }

  
  .dashboard-cards-icon{
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: var(--Card-icon-color);    
  }

  .dashboard-card-description{
    color: var(--Card-icon-color);
    max-width: 70%;
    font-size: 1rem;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .dashboard-card-stat-text{
    color: var(--Card-icon-color);
    font-size: 1rem;
  }

  .dashboard-card-stat-text strong{
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .dashboard-link-container{
    position: relative;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
  }

  .dashboard-link {
    color: var(--Text-highlight-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin: auto 0;
  }
  
  .dashboard-link:hover {
    text-decoration: underline;
  }
  
  