.butikkansatt-card {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid currentColor;
  border-radius: 4px;
  padding: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  color: #333;
  min-height: 100%;
}

.card-left {
  margin-right: 16px;
  font-size: 2rem;
}

.card-content {
  flex-grow: 1;
}

.card-content h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}

.card-content p {
  margin: 4px 0;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  color: #555;
}

.icon {
  margin-right: 6px;
}

.card-arrow {
  font-size: 1.4rem;
}

/* --- EMPLOYEE THEME --- */
.butikkansatt-card.employee-theme {
  border-color: var(--Employees-main);
}

.butikkansatt-card.employee-theme:hover {
  background-color: var(--Employees-hover);
}

.butikkansatt-card.employee-theme .icon,
.butikkansatt-card.employee-theme .card-arrow,
.butikkansatt-card.employee-theme .card-left {
  color: var(--Employees-main);
}

.butikkansatt-card.employee-theme h3 {
  color: var(--Employees-hover-dark);
}


/* --- AVAILABLE THEME --- */
.butikkansatt-card.available-theme {
  border-color: var(--Available-main);
}

.butikkansatt-card.available-theme:hover {
  background-color: var(--Available-hover);
}

.butikkansatt-card.available-theme .icon,
.butikkansatt-card.available-theme .card-arrow,
.butikkansatt-card.available-theme .card-left {
  color: var(--Available-main);
}

.butikkansatt-card.available-theme h3 {
  color: var(--Available-hover-dark);
}






.butikkansatt-card.empty-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 2px dashed var(--Employees-main);
  background-color: #f9f9f9;
  color: var(--Employees-main);
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.butikkansatt-card.empty-card:hover {
  background-color: var(--Employees-hover);
  transform: translateY(-2px);
}

.empty-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-card-content p{
  margin: 0
}

.plus-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
}


.qualification-text-container{
  display: flex;
  align-items: center;
  justify-content: center;
}



.butikkansatt-card .qualifications {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
  font-size: 0.95rem;
  color: #555;
}

.butikkansatt-card .qualifications .icon-wrapper {
  margin-right: 6px;
  font-size: 1rem;
  line-height: 1.4;
}

.butikkansatt-card .qualifications p {
  margin: 0;
  flex: 1;
  word-break: break-word;
}


.butikkansatt-card .availability {
  display: flex;
  align-items: flex-start;
  margin: 4px 0;
  font-size: 0.95rem;
  color: #555;
}

.butikkansatt-card .availability .icon-wrapper {
  margin-right: 6px;
  font-size: 1rem;
  line-height: 1.4;
}

.butikkansatt-card .availability p {
  margin: 0;
  flex: 1;
  word-break: break-word;
}
