/* General layout styling */
body {
  padding: 0;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--Body-background);
}

.layout-content {
  flex: 1;
  width: 100vw;
  padding: 0 10vw;
  margin: 0 auto;
  box-sizing: border-box;
}
