.back-button {
  display: flex;
  align-items: center;
  position: absolute;
  left: 1rem;
  padding: 10px;
  cursor: pointer;
  background-color: var(--White);
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.back-text {
  margin-left: 8px;
  font-size: 16px;
  color: #333;
}

.arrow {
  width: auto;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .back-text {
    display: none;
  }

  .back-button {
    border-radius: 100%;
  }
}
