.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--White);
  padding: 15px 20px;
  position: relative;
  z-index: 100;
  font-family: sans-serif;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

/* Home logo (desktop only) */
.home-button img {
  width: 100px;
  cursor: pointer;
}

.menu-button {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}

/* Links */
.nav-links {
  max-width: 100%;
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  top: 80px;
  left: 0;
  right: 0;
  background-color: var(--Shifts-main);
  padding: 10px 0;
  z-index: 101;
}

.nav-links.open {
  display: flex;
}

.nav-links a {
  color: var(--Shifts-main);
  text-decoration: none;
  font-weight: 500;
  padding: 6px;
  font-size: 1.1rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-links a:hover {
  background-color: var(--Shifts-main);
  color: var(--White);
}

/* Right side of nav */
.nav-right {
  gap: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-icon svg,
.menu-button svg {
  color: var(--Shifts-main);
  margin: 0; /* Reverted to prevent shrinking the icons */
}

/* Logout Button */
.logout-button {
  background-color: var(--White);
  color: var(--Shifts-main);
  border: 2px solid var(--Shifts-main);
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.logout-button:hover {
  background-color: var(--Shifts-main);
  color: var(--White);
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 20px;
    background-color: var(--Shifts-main);
  }

  .nav-links a {
    color: var(--White);
    border: 2px solid var(--White);
    min-width: 40%;
    text-align: center;
  }

  .logout-button {
    border: none;
  }

  .menu-button {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  /* Shadow overlay when menu is open */
  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
  }
}

/* Desktop styles */
@media (min-width: 769px) {
  .nav-links {
    display: flex;
    position: static;
    flex-direction: row;
    background: none;
    padding: 0;
  }

  .nav-links.open {
    display: flex;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}
