.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--White);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  color: var(--Black);
  margin-top: 5rem;
  z-index: 100;
}

/* Mobile view */
@media (max-width: 700px) {
  .footer-container {
    margin: 0;
  }
}
