.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--White);
  border-top: 5px solid var(--Shifts-main);
  color: var(--Black);
  margin-top: 5rem;
}
