/* LedigeAnsatte.css */
.ledige-ansatte {
    padding: 2rem;
  }
  
  .ledige-ansatte .ledige-employee-list {
    display: grid;
    gap: 3rem; /* Increased gap to add more space between the cards */
    margin: 2rem 0;
    grid-template-columns: repeat(2, 1fr); /* 2 columns for 2x2 grid */
  }
  
  .ledige-ansatte .ledige-error-message {
    color: red;
    margin-top: 1rem;
  }
  