/* Main container */
.ledige-ansatte {
  background-color: var(--Body-background);
  padding: 24px;
  width: 1006px;
  margin: 0 auto;
  border-radius: 4px;
}

/* Title */
.ledige-ansatte-title {
  color: var(--Available-main);
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  max-width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.ledige-ansatte-beskrivelse {
  text-align: center;
  max-width: 80%;
  margin: 0 auto 100px auto;
  color: var(--Available-light-text);
  font-size: 16px;
  line-height: 1.6;
}

.ledige-ansatte-text {
  color: var(--Available-text);
  margin-bottom: 24px;
}

.butikk-overview-filter-container {
  margin-bottom: 24px;
}

.ledige-employee-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

/* Responsive styles */
@media (max-width: 1030px) {
  .ledige-ansatte {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  .shift-date-group {
    max-width: 100%;
  }
}

/* Mobile view */
@media (max-width: 700px) {
  .ledige-ansatte {
    padding: 12px;
  }

  .ledige-employee-list {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .ledige-ansatte-title {
    font-size: 2.2rem;
  }
}
