/* MineAnsatte.css */
.mine-ansatte {
  padding: 2rem;
}

.mine-ansatte .employee-list {
  display: grid;
  gap: 3rem;
  margin: 2rem 0;
  grid-template-columns: repeat(2, 1fr); /* 2x2 grid layout */
}

.mine-ansatte .error-message {
  color: red;
  margin-top: 1rem;
}
