.mine-ansatte {
  background-color: var(--Body-background);
  padding: 24px;
  width: 1006px;
  margin: 0 auto;
  border-radius: 4px;
}

.mine-ansatte-title {
  color: var(--Employees-main);
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  max-width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mine-ansatte-beskrivelse {
  text-align: center;
  max-width: 80%;
  margin: 0 auto 40px auto;
  color: var(--Text-color-light);
  font-size: 16px;
  line-height: 1.6;
}

.mine-ansatte-text {
  color: #444;
  margin-bottom: 24px;
}

.butikk-overview-filter-container {
  margin-bottom: 24px;
}

.employee-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1030px) {
  .mine-ansatte {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  .shift-date-group {
    max-width: 100%;
  }
}

@media (max-width: 847px) {
  .mine-ansatte {
    padding: 12px;
  }

  .employee-list {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .mine-ansatte-title {
    font-size: 2.4rem;
  }
}
