@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Commissioner";
  src: url("/fonts/Commissioner-VariableFont_FLAR,VOLM,slnt,wght.ttf")
    format("truetype");
}

:root {
  /* Colors */
  --White: #ffffff;
  --Card-color: #fff;
  --Black: #000000;
  --loading: #343538;
  --Body-background: #F4F5F9;
  --Main-dark-color: #313B45;
  --Main-light-color: #f9f5e0;
  --Card-header-color: #3b5f90;
  --Card-icon-color: #A3A7B0;
  --Text-highlight-color: #5D9F95;

  /* Text-colors */
  --Text-color: #161616;
  --Text-color-light: #4f4f4f;

  /* Button colors */
  --Error-delete-color: #ec5446;
  --Success-color: #3c9350;
  --Open-link-color: #156363;
  --Create-new: #1cb066;

  /* Tab colors */
  --Open-tab-color: #115676;
  --Closed-tab-color: #f4f4f4;
  --Closed-tab-color-hover: #dcdcdc;

  /* Font */
  --Header-font: "Commissioner", sans-serif;
  --Header-font-size: 20px;
  --Text-font: "Inter", sans-serif;
  --Text-font-size: 16px;

  /* transition */
  --Transition-button-simple: 0.2s ease;
  --Transition-button-change-filter: 85%;


  /* THEME COLORS */
  --Shifts-main: #2a72a5;
  --Shifts-hover: #e6f7ff;
  --Shifts-hover-dark: #1e4e72;
  --Shifts-accent: #58a1dd;
  --Shifts-text: #103b57;
  --Shifts-button: #2a72a5;
  --Shifts-button-hover: #20587d;
  --Shifts-tab-open: #2a72a5;
  --Shifts-tab-closed: #e6f7ff;
  --Shifts-tab-hover: #d2eefd;
  --Shifts-claimed-accent: #27ae60;


  --Employees-main: #d6a029;
  --Employees-hover: #fef6e6;
  --Employees-hover-dark: #a07811;

  --Available-main: #23a188;
  --Available-hover: #e8fef8;
  --Available-hover-dark: #177261;

  --Stores-main: #d66565;
  --Stores-hover: #fff2f2;
  --Stores-hover-dark: #a13c3c;
}
